.Registro-box{
    border: solid 1px rgb(157, 157, 157);
    text-align: center;
    background-color: #fff;
    margin-bottom: 5vh;
    padding: 30px;
    border-radius: 10px;
}

.Registro-box form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
    margin-top: 50px;
}

.Registro-box input, select{
    height: 55px;
    width: 470px;
    cursor: pointer;
}

.Registro-box select {
    border-radius: 8px;
    border: 0.5px solid black;
}

.Registro-box Button{
    background-color: black;
    color: #fff;
    height: 45px;
    width: 80%;
    border: 1px solid black;

}

.Registro-box Button:hover{
    background-color: rgba(0, 0, 0, 0.402);
    border: 1px solid black;
}

.error-text {
    color: red;
    font-size: 14px;
    margin-top: 5px;
  }