.nosotros-container {
margin-top: 30vh !important;
  max-width: 700px;
  margin: 3rem auto;
  padding: 2rem;
  text-align: center;
  background-color: #fff8f6;
  border-radius: 1rem;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.nosotros-titulo {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  font-weight: bold;
  color: #b46494;
}

.nosotros-texto {
  font-size: 1.1rem;
  line-height: 1.7;
  color: #333;
  margin-bottom: 1rem;
}