@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
.dashboard-container {
    margin-top: 29.5vh !important;
    font-family: Oswald;
}

.add-button {
    background-color: rgb(128, 124, 124);
    margin-bottom: 12px !important;
    border: 1px solid #ccc !important;
}

.add-button:hover{
    background-color: #c6c4c4;
}


.tab-selector {
  display: flex;
  border-bottom: 2px solid #ccc;
}

.tab-option {
  flex: 1;
  text-align: center;
  padding: 18px 0;
  cursor: pointer;
  font-weight: bold;
  border-top: 2px solid transparent;
  transition: all 0.3s ease;
}

.tab-option.active {
  border-top: 2px solid #000; /* Azul Bootstrap */
  background-color: #f8f9fa;
}

.edit-button {
    background-color: transparent;
    color: black;
    border: none;
    font-size: 1.4rem;
}

.edit-button:hover {
    background-color: transparent;
    color: rgba(0, 0, 0, 0.281);
}

.status-activo {
  background-color: #d0ebff; /* azul claro */
  color: #0b5394;
  padding: 5px 8px;
  border-radius: 15px;
  display: inline-block;

}

.status-inactivo {
  background-color: #ffd6d6; /* rojo claro */
  color: #990000;
  padding: 4px 8px;
  border-radius:15px;
  display: inline-block;

}